# Instruções de Extração, Validação e Limpeza

## Carregando as Bibliotecas:

In [105]:
import pandas as pd
import pandera as pa

## 1 - Extração:

In [106]:
valores_ausentes = ["***", "****", "###!", "####", "*****", "NULL", "NÃO IDENTIFICADA", ""]
df = pd.read_csv("ocorrencia.csv", sep=",", parse_dates=['ocorrencia_dia'], dayfirst=True, na_values=valores_ausentes)
# valores_ausentes - cria um array com todos os possíveis valores ausentes nos dados a serem carregados
# na_values=valores_ausentes - identifica pelo array criado os possíveis valores ausentes e os substitui por NaN ou NaT já no carregamento

## 2 - Validação:

### Esquema de Validação:

In [107]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo": pa.Column(pa.Int, required=False),
        "codigo_ocorrencia": pa.Column(pa.Int),
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String, nullable=True),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2), nullable=True),
        "ocorrencia_aerodromo": pa.Column(pa.String, nullable=True),
        "ocorrencia_dia": pa.Column(pa.DateTime, nullable=True),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])?$'), nullable=True),
        "total_recomendacoes": pa.Column(pa.Float, nullable=True)
    }
)

### Validação dos Dados:

In [108]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0.0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3.0
2,45333,45333,ACIDENTE,VIAMÃO,RS,NaN,2012-01-06,13:00:00,0.0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0.0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,NaN,2012-01-06,16:30:00,0.0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,NaN,2021-12-30,20:30:00,0.0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,NaN,2021-12-31,9:30:00,0.0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0.0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0.0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0.0

### Conferir os Tipos de Dados:

In [109]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                float64
dtype: object

## 3 - Localização de Dados - ***Filtros***

### Localizando e exibindo itens do dataframe por seus indices com a função .iloc[]:

In [110]:
df.iloc[0] # imprime o primeiro item do dataframe

codigo_ocorrencia                         52242
codigo_ocorrencia2                        52242
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                  PORTO ALEGRE
ocorrencia_uf                                RS
ocorrencia_aerodromo                       SBPA
ocorrencia_dia              2012-01-05 00:00:00
ocorrencia_hora                        20:27:00
total_recomendacoes                         0.0
Name: 0, dtype: object

In [111]:
df.iloc[-1] # imprime o último item do dataframe

codigo_ocorrencia                         80467
codigo_ocorrencia2                        80467
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                     PETROLINA
ocorrencia_uf                                PE
ocorrencia_aerodromo                       SBPL
ocorrencia_dia              2021-12-31 00:00:00
ocorrencia_hora                        20:30:00
total_recomendacoes                         0.0
Name: 5166, dtype: object

In [112]:
df.iloc[10:15] # imprime os itens de indice 10 a 14 do dataframe - o indice 15 não consta no range

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,45332,45332,ACIDENTE,VIAMÃO,RS,NaN,2012-01-09,13:30:00,0.0
11,52245,52245,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-09,13:36:00,0.0
12,45396,45396,INCIDENTE GRAVE,MARABÁ,PA,SBMA,2012-01-11,11:21:00,0.0
13,45408,45408,ACIDENTE,ELDORADO,SP,NaN,2012-01-11,13:45:00,1.0
14,45447,45447,INCIDENTE,RIO BRANCO,AC,NaN,2012-01-13,18:15:00,0.0

In [113]:
df.iloc[-3:] # imprime do antepenúltimo ao último item do dataframe - o indice do primeiro indice a ser exibido vem primeiro

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0.0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0.0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0.0

### Buscando Dados de uma Coluna Específica - funciona com uma coluna por vez:

In [114]:
df['ocorrencia_uf']

0       RS
1       SP
2       RS
3       SP
4       RS
        ..
5162    GO
5163    SP
5164    RS
5165    PR
5166    PE
Name: ocorrencia_uf, Length: 5167, dtype: object

### Manipulação de Valores Nulos:

In [115]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade             23
ocorrencia_uf                 19
ocorrencia_aerodromo        1914
ocorrencia_dia                17
ocorrencia_hora               18
total_recomendacoes           17
dtype: int64

In [116]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade             23
ocorrencia_uf                 19
ocorrencia_aerodromo        1914
ocorrencia_dia                17
ocorrencia_hora               18
total_recomendacoes           17
dtype: int64

### Identificando os Valores Ausentes no Dataframe:

In [117]:
df.ocorrencia_uf.isnull()
# df - dataframe
# .ocorrencia_uf - coluna que será pesquisada
# .isnull() - função que localiza os valores ausentes
# valores presentes - aparecerão como False
# valores ausentes - aparecerão como True

0       False
1       False
2       False
3       False
4       False
        ...
5162    False
5163    False
5164    False
5165    False
5166    False
Name: ocorrencia_uf, Length: 5167, dtype: bool

### Exibindo apenas os registros com Valores Ausentes:

In [118]:
df.loc[df.ocorrencia_uf.isnull()]
# df - dataframe
# .loc - função que exibirá os dados filtrados
# df.ocorrencia_uf - indica a coluna com os dados a serem filtrados
# .isnull() - função que localiza os valores ausentes
# serão exibidos as linhas completas onde houver valores nulos na coluna indicada

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1099,49474,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,NaN,NaN,2013-09-02,2:54:00,0.0
1794,52697,52697,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
1861,52948,52948,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
3334,79567,79567,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
3366,78035,78035,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4346,79385,79385,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4387,79445,79445,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4417,79481,79481,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4538,79663,79663,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4625,79844,79844,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4649,79820,79820,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4728,79956,79956,ACIDENTE,NaN,NaN,NaN,2021-02-26,11:00:00,0.0
4757,79981,79981,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4776,80001,80001,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4794,80031,80031,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4888,80132,80132,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4890,80131,80131,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
5062,80344,80344,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
5070,80351,80351,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN

In [119]:
filtro = df.ocorrencia_uf.isnull()
df.loc[filtro]
# df.ocorrencia_uf.isnull() é atribuída à variável filtro
# a variável filtro é indicada na função df.loc[]
# executa o mesmo filtro que a função anterior, mas fica mais compreensível

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1099,49474,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,NaN,NaN,2013-09-02,2:54:00,0.0
1794,52697,52697,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
1861,52948,52948,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
3334,79567,79567,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
3366,78035,78035,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4346,79385,79385,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4387,79445,79445,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4417,79481,79481,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4538,79663,79663,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4625,79844,79844,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4649,79820,79820,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4728,79956,79956,ACIDENTE,NaN,NaN,NaN,2021-02-26,11:00:00,0.0
4757,79981,79981,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4776,80001,80001,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4794,80031,80031,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4888,80132,80132,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4890,80131,80131,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
5062,80344,80344,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
5070,80351,80351,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN

### Identificar Colunas com Valores Ausentes com a função .count():

In [120]:
df.count()
# count() - por padrão, não conseidera os valores ausentes na contagem dos valores das colunas
# será exibido um resumo com as quantidades de registros de cada coluna do dataframe
# as colunas que exibirem menos registros que o total do dataframe são as que possuem valores nulos

codigo_ocorrencia           5167
codigo_ocorrencia2          5167
ocorrencia_classificacao    5167
ocorrencia_cidade           5144
ocorrencia_uf               5148
ocorrencia_aerodromo        3253
ocorrencia_dia              5150
ocorrencia_hora             5149
total_recomendacoes         5150
dtype: int64

### Filtros que podemos utilizar para retornar valores do Dataframe - ***incluindo condições com operadores de comparação:***

#### Obter ocorrências com mais de 10 recomendações:

In [121]:
filtro = df.total_recomendacoes > 10 # adiciona à variável a condição para retornar os valores da coluna total_recomendacoes - valores > 10
df.loc[filtro] # recebe a variável filtro e executa o filtro baseado na condição contida nela
# serão exibidos as linhas completas dos registros cuja a coluna total de recomendações possui valor maior que 10

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
844,47938,47938,INCIDENTE,BRASÍLIA,DF,SBBR,2013-04-13,18:00:00,11.0
1669,52265,52265,ACIDENTE,SANTOS,SP,NaN,2014-08-13,13:03:00,13.0
2804,66432,66432,INCIDENTE GRAVE,VITÓRIA,ES,NaN,2017-02-21,11:47:00,12.0

#### Realizar o filtro e exibir apenas colunas específicas dos registros:

In [122]:
filtro = df.total_recomendacoes >10 # condição para retornar os valores
df.loc[filtro, 'ocorrencia_cidade']
# filtro - filtro que será executado - contém o número das linhas a serem exibidas
# 'ocorrencia_cidade' - nome da coluna da qual os registros que atenderem à condição serão exibidos
# Serão exibidas as cidades dos registros que receberam mais de 10 recomendações

844     BRASÍLIA
1669      SANTOS
2804     VITÓRIA
Name: ocorrencia_cidade, dtype: object

#### Realizar o Filtro retornando mais de 1 coluna específica:

In [123]:
filtro = df.total_recomendacoes >10
df.loc[filtro, ['ocorrencia_cidade', 'total_recomendacoes']]
# ['ocorrencia_cidade', 'total_recomendacoes'] - lista/array com os nomes das colunas a serem exibidas
# Serão exibidos a cidade e o total de recomendações dos registros que receberam mais de 10 recomendações

     ocorrencia_cidade  total_recomendacoes
844           BRASÍLIA                 11.0
1669            SANTOS                 13.0
2804           VITÓRIA                 12.0

#### Filtrando registros com uma ***classificação específica*** em uma coluna:

In [124]:
filtro = df.ocorrencia_classificacao == 'INCIDENTE GRAVE' # condição com a classificação a ser buscada na coluna 'ocorrencia_classificacao
df.loc[filtro, ['ocorrencia_cidade', 'total_recomendacoes']]
# Serão exibidos a cidade e o total de recomendações para os registros com a classificação de INCIDENTE GRAVE

        ocorrencia_cidade  total_recomendacoes
6                CAMPINAS                  0.0
12                 MARABÁ                  0.0
18                CAMOCIM                  0.0
19                  MUANÁ                  0.0
24           RONDONÓPOLIS                  0.0
...                   ...                  ...
5139    NOVA BANDEIRANTES                  0.0
5146  FORMOSO DO ARAGUAIA                  0.0
5158            ARAÇATUBA                  0.0
5159           SANTA RITA                  0.0
5164        NOVO HAMBURGO                  0.0

[691 rows x 2 columns]

#### Executando Filtros com ***mais de 1 condição***:

In [125]:
filtro1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2] # utiliza o operador & (and) para combinar as duas condições dos filtros
# Retornará os registros que receberão a classificação de INCIDENTE GRAVE e ocorreram no estado de SP

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0.0
78,45598,45598,INCIDENTE GRAVE,BRAGANÇA PAULISTA,SP,SBBP,2012-02-20,14:10:00,0.0
86,45653,45653,INCIDENTE GRAVE,GUARULHOS,SP,SBGR,2012-02-24,20:04:00,0.0
91,45599,45599,INCIDENTE GRAVE,BRAGANÇA PAULISTA,SP,SBBP,2012-02-27,19:15:00,0.0
140,45651,45651,INCIDENTE GRAVE,ITU,SP,NaN,2012-03-24,20:45:00,1.0
...,...,...,...,...,...,...,...,...,...
4954,80200,80200,INCIDENTE GRAVE,BRAGANÇA PAULISTA,SP,SDVH,2021-07-25,12:25:00,0.0
4980,80238,80238,INCIDENTE GRAVE,VOTUPORANGA,SP,SDVG,2021-08-11,19:09:00,0.0
5003,80265,80265,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2021-08-31,16:50:00,0.0
5098,80382,80382,INCIDENTE GRAVE,PIRACICABA,SP,SDPW,2021-11-16,20:50:00,0.0
5158,80454,80454,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2021-12-29,21:35:00,0.0

In [126]:
filtro1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 | filtro2] # utiliza o operador | (or) para combinar as duas condições dos filtros
# Retornará os registros que receberão a classificação de INCIDENTE GRAVE ou que ocorreram no estado de SP

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3.0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0.0
5,52243,52243,INCIDENTE,UBATUBA,SP,NaN,2012-01-06,14:30:00,0.0
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0.0
12,45396,45396,INCIDENTE GRAVE,MARABÁ,PA,SBMA,2012-01-11,11:21:00,0.0
...,...,...,...,...,...,...,...,...,...
5158,80454,80454,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2021-12-29,21:35:00,0.0
5159,80455,80455,INCIDENTE GRAVE,SANTA RITA,PB,NaN,2021-12-29,18:50:00,0.0
5161,80456,80456,INCIDENTE,SÃO PAULO,SP,SBSP,2021-12-30,13:15:00,0.0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,NaN,2021-12-31,9:30:00,0.0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0.0

#### Combinação de ***mais de 1 condição no mesmo filtro***:

In [127]:
filtro1 = (df.ocorrencia_classificacao == 'INCIDENTE GRAVE') | (df.ocorrencia_classificacao == 'INCIDENTE')
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2] # combinação dos filtros 1 e 2 para execução do filtro
# no filtro1 são verificadas 2 condições a serem verificadas na coluna ocorrencia_classificacao - INCIDENTE GRAVE e INCIDENTE
# uma das duas condições deve ser atendida para performar o filtro
# as condições devem ser colocadas entre parênteses para os operadores de comparação serem executados antes do operador lógico | (or)
# o filtro retornará todas as ocorrências na uf SP que tenham recebido classificação de INCIDENTE GRAVE e INCIDENTE

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
5,52243,52243,INCIDENTE,UBATUBA,SP,NaN,2012-01-06,14:30:00,0.0
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0.0
28,52248,52248,INCIDENTE,SÃO PAULO,SP,SBMT,2012-01-21,11:15:00,0.0
35,52054,52054,INCIDENTE,SÃO PAULO,SP,SBMT,2012-01-25,23:00:00,0.0
36,52055,52055,INCIDENTE,RIBEIRÃO PRETO,SP,NaN,2012-01-25,9:30:00,0.0
...,...,...,...,...,...,...,...,...,...
5134,80425,80425,INCIDENTE,SÃO PAULO,SP,SBSP,2021-12-09,20:30:00,0.0
5143,80431,80431,INCIDENTE,SANTOS,SP,SBST,2021-12-15,12:30:00,0.0
5157,80453,80453,INCIDENTE,CAMPINAS,SP,SBKP,2021-12-29,9:00:00,0.0
5158,80454,80454,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2021-12-29,21:35:00,0.0
5161,80456,80456,INCIDENTE,SÃO PAULO,SP,SBSP,2021-12-30,13:15:00,0.0

In [128]:
filtro1 = df.ocorrencia_classificacao.isin(['INCIDENTE GRAVE', 'INCIDENTE'])
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]
# com o método .isin(['INCIDENTE GRAVE', 'INCIDENTE']), incluímos a lista/array com as condições a serem verificadas na coluna, simplificando o filtro em apenas uma condição

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
5,52243,52243,INCIDENTE,UBATUBA,SP,NaN,2012-01-06,14:30:00,0.0
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0.0
28,52248,52248,INCIDENTE,SÃO PAULO,SP,SBMT,2012-01-21,11:15:00,0.0
35,52054,52054,INCIDENTE,SÃO PAULO,SP,SBMT,2012-01-25,23:00:00,0.0
36,52055,52055,INCIDENTE,RIBEIRÃO PRETO,SP,NaN,2012-01-25,9:30:00,0.0
...,...,...,...,...,...,...,...,...,...
5134,80425,80425,INCIDENTE,SÃO PAULO,SP,SBSP,2021-12-09,20:30:00,0.0
5143,80431,80431,INCIDENTE,SANTOS,SP,SBST,2021-12-15,12:30:00,0.0
5157,80453,80453,INCIDENTE,CAMPINAS,SP,SBKP,2021-12-29,9:00:00,0.0
5158,80454,80454,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2021-12-29,21:35:00,0.0
5161,80456,80456,INCIDENTE,SÃO PAULO,SP,SBSP,2021-12-30,13:15:00,0.0

#### Filtrar a partir de parte dos valores de uma coluna (apenas algum ou alguns caracteres):

In [129]:
filtro = df.ocorrencia_cidade.str[0] == 'C'
df.loc[filtro]
# com o método .str[0] selecionamos uma caracter na primeira posição da string do valor na coluna e com =='C' comparamos esse caracter selecionado com a letra C para executar o filtro
# com esse filtro retornamos todos os registros cujas cidades começam com a letra C

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0.0
8,45391,45391,ACIDENTE,CONCEIÇÃO DAS ALAGOAS,MG,NaN,2012-01-08,16:00:00,0.0
15,45409,45409,ACIDENTE,CÁCERES,MT,NaN,2012-01-14,10:00:00,0.0
18,50714,50714,INCIDENTE GRAVE,CAMOCIM,CE,SNWC,2012-01-17,18:25:00,0.0
22,45390,45390,ACIDENTE,CACHOEIRA DOURADA,GO,NaN,2012-01-20,21:00:00,0.0
...,...,...,...,...,...,...,...,...,...
5142,80434,80434,ACIDENTE,CARACOL,MS,NaN,2021-12-14,21:35:00,0.0
5144,80447,80447,INCIDENTE,CONFINS,MG,SBCF,2021-12-15,17:10:00,0.0
5150,80445,80445,ACIDENTE,CHUPINGUAIA,RO,NaN,2021-12-20,12:05:00,0.0
5157,80453,80453,INCIDENTE,CAMPINAS,SP,SBKP,2021-12-29,9:00:00,0.0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0.0

In [130]:
filtro = df.ocorrencia_cidade.str[-1] == 'A'
df.loc[filtro]
# selecionamos o último caracter da cidade incluindo o índice -1 no método .str[]
# com esse filtro retornamos todos os registros cujas cidades terminam com a letra A

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
5,52243,52243,INCIDENTE,UBATUBA,SP,NaN,2012-01-06,14:30:00,0.0
9,52244,52244,INCIDENTE,UBERLÂNDIA,MG,SBUL,2012-01-08,22:13:00,0.0
17,52246,52246,INCIDENTE,BRASÍLIA,DF,SBBR,2012-01-16,16:47:00,0.0
21,45392,45392,ACIDENTE,BRASÍLIA,DF,NaN,2012-01-19,21:30:00,2.0
22,45390,45390,ACIDENTE,CACHOEIRA DOURADA,GO,NaN,2012-01-20,21:00:00,0.0
...,...,...,...,...,...,...,...,...,...
5152,80465,80465,INCIDENTE,VITÓRIA,ES,SBVT,2021-12-21,22:25:00,0.0
5158,80454,80454,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2021-12-29,21:35:00,0.0
5159,80455,80455,INCIDENTE GRAVE,SANTA RITA,PB,NaN,2021-12-29,18:50:00,0.0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0.0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0.0

In [131]:
filtro = df.ocorrencia_cidade.str[-2:] == 'MA'
df.loc[filtro]
# .str[-2:] - buscará os caracteres a partir do penúltimo caracter da string - posição -2 (representa o início do intervalo) - o valor inverso da quantidade de caracteres a serem buscados: 2 => -2
# o filtro retornará os registros com as cidades terminadas em 'MA'

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
249,45939,45939,ACIDENTE,UMUARAMA,PR,NaN,2012-05-30,19:00:00,0.0
273,46180,46180,ACIDENTE,AURIFLAMA,SP,NaN,2012-06-16,19:30:00,0.0
971,49113,49113,INCIDENTE GRAVE,NOVA LIMA,MG,NaN,2013-06-15,12:00:00,4.0
974,48799,48799,ACIDENTE,CANUTAMA,AM,NaN,2013-06-18,21:30:00,0.0
1518,80059,80059,INCIDENTE,IVINHEMA,MS,NaN,2014-04-27,11:30:00,0.0
1529,51347,51347,INCIDENTE,DIADEMA,SP,NaN,2014-05-04,16:00:00,0.0
1729,52340,52340,ACIDENTE,FAMA,MG,NaN,2014-09-20,15:00:00,1.0
1840,52832,52832,ACIDENTE,BURITAMA,SP,NaN,2014-12-14,23:40:00,0.0
1871,52979,52979,ACIDENTE,IVINHEMA,MS,NaN,2015-01-02,14:50:00,0.0
1914,52984,52984,ACIDENTE,NOVA LIMA,MG,SJLY,2015-02-01,15:10:00,0.0
1966,53596,53596,INCIDENTE,ITAPEMA,SC,NaN,2015-03-10,21:35:00,0.0
2031,53223,53223,ACIDENTE,PINDORAMA,SP,NaN,2015-04-22,12:45:00,0.0
2045,53265,53265,ACIDENTE,PACARAIMA,RR,SDMM,2015-05-05,16:05:00,2.0
2063,53271,53271,INCIDENTE GRAVE,UMUARAMA,PR,NaN,2015-05-17,17:00:00,0.0
2556,65414,65414,INCIDENTE GRAVE,NOVA LIMA,MG,SJLY,2016-07-08,19:50:00,1.0
2599,65633,65633,INCIDENTE GRAVE,NOVA LIMA,MG,NaN,2016-08-31,17:40:00,0.0
2755,66265,66265,ACIDENTE,BURITAMA,SP,NaN,2017-01-13,16:00:00,0.0
3104,77371,77371,ACIDENTE,CANUTAMA,AM,SDKH,2017-11-02,19:30:00,1.0
3186,77612,77612,ACIDENTE,ITAPEMA,SC,NaN,2018-01-06,10:30:00,0.0
3449,78080,78080,ACIDENTE,ITAPEMA,SC,NaN,2018-07-28,14:20:00,0.0
3861,78867,78867,INCIDENTE,IRACEMA,RR,NaN,2019-07-06,0:00:00,0.0
3945,78923,78923,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2019-09-03,14:00:00,0.0
3955,78782,78782,ACIDENTE,IVINHEMA,MS,NaN,2019-09-08,17:45:00,0.0
4279,79282,79282,ACIDENTE,ITURAMA,MG,NaN,2020-04-11,12:20:00,0.0
4314,79338,79338,INCIDENTE,IVINHEMA,MS,NaN,2020-05-15,9:40:00,0.0
4348,79400,79400,INCIDENTE,IBIRAMA,SC,NaN,2020-06-09,14:00:00,0.0
4632,79823,79823,ACIDENTE,IRACEMA,RR,NaN,2021-01-05,20:07:00,0.0
4651,79830,79830,INCIDENTE,NOVA LIMA,MG,SJLY,2021-01-14,9:27:00,0.0
4734,79943,79943,INCIDENTE,IBOTIRAMA,BA,SNIT,2021-03-03,11:30:00,0.0
4967,80227,80227,ACIDENTE,UMUARAMA,PR,NaN,2021-08-02,14:30:00,0.0
4969,80252,80252,ACIDENTE,IRACEMA,RR,NaN,2021-08-04,11:45:00,0.0

#### Verificar se um Conjunto de caracteres aparece em alguma posição em uma string - ***método .str.contains('MA')***

filtro = df.ocorrencia_cidade.str.contains('MA')
df.loc[filtro]
# .str.contains('MA') - busca se um conjunto de caracteres está contido em alguma posição da string
# o filtro retornará as cidades que possuem os caracteres MA em alguma posição em seus nomes
# esse método não funciona em colunas que contenham valores ausentes - no dataframe atual não funciona, pois há dados ausentes na coluna ocorrencia_cidade

### Fazer ***Filtros em Datas***:

In [132]:
filtro = df.ocorrencia_dia.dt.year == 2015
df.loc[filtro]
# .dt.year - método operador do tipo de dados datetime que busca o ano na data
# == 2015 - especifica o ano de 2015 como ano a ser buscado nas datas para fazer o filtro
# o filtro retornará todos os registros com datas do ano de 2015

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1870,52992,52992,INCIDENTE GRAVE,SALVADOR,BA,SBSV,2015-01-01,11:40:00,3.0
1871,52979,52979,ACIDENTE,IVINHEMA,MS,NaN,2015-01-02,14:50:00,0.0
1872,53073,53073,INCIDENTE,TEFÉ,AM,SBTF,2015-01-02,16:28:00,0.0
1873,53074,53074,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-01-02,20:34:00,0.0
1874,52976,52976,ACIDENTE,TOLEDO,PR,SBTD,2015-01-04,22:04:00,6.0
...,...,...,...,...,...,...,...,...,...
2336,60632,60632,INCIDENTE GRAVE,ITABERÁ,SP,NaN,2015-12-24,14:00:00,0.0
2337,60600,60600,INCIDENTE,GUARULHOS,SP,SBGR,2015-12-25,19:00:00,0.0
2338,60642,60642,INCIDENTE,SÃO FRANCISCO DO SUL,SC,SSSS,2015-12-26,16:00:00,0.0
2339,60631,60631,ACIDENTE,MAÇAMBARÁ,RS,NaN,2015-12-28,19:00:00,2.0
2340,60649,60649,ACIDENTE,PORTO BELO,SC,SDEN,2015-12-31,14:00:00,0.0

In [133]:
# Filtrar por Mês e Ano
# 1ª forma - 2 filtros:
filtro1 = df.ocorrencia_dia.dt.month == 12
filtro2 = df.ocorrencia_dia.dt.year == 2015
df.loc[filtro1 & filtro2]
# .dt.month - método que busca o mês na data
# .dt.year - método que busca o ano na data
# == 12 - especifica o mês a ser buscado
# == 2015 - especifica o ano a ser buscado
# retornará os registros cujas datas são do mês 12 (dezembro) do ano de 2015

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2302,53573,53573,INCIDENTE,GUARULHOS,SP,SBGR,2015-12-01,2:48:00,0.0
2303,60601,60601,INCIDENTE,PALMAS,TO,SBPJ,2015-12-01,16:05:00,0.0
2304,53634,53634,INCIDENTE,PALMAS,TO,SBPJ,2015-12-02,17:45:00,0.0
2305,53636,53636,INCIDENTE,JUNDIAÍ,SP,SBJD,2015-12-02,17:42:00,0.0
2306,53575,53575,INCIDENTE,CAMPOS DOS GOYTACAZES,RJ,SBFS,2015-12-03,10:50:00,0.0
2307,60637,60637,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-12-03,16:47:00,0.0
2308,53625,53625,ACIDENTE,TRINDADE,GO,NaN,2015-12-06,13:10:00,3.0
2309,53626,53626,ACIDENTE,AMERICANA,SP,SDAI,2015-12-06,15:00:00,1.0
2310,53628,53628,ACIDENTE,AGUAÍ,SP,NaN,2015-12-08,14:30:00,1.0
2311,53629,53629,INCIDENTE GRAVE,JALES,SP,SDJL,2015-12-08,10:20:00,0.0
2312,53631,53631,INCIDENTE,CAMPINAS,SP,SBKP,2015-12-08,16:19:00,0.0
2313,60636,60636,INCIDENTE,CAXIAS DO SUL,RS,SBCX,2015-12-08,13:00:00,0.0
2314,53627,53627,INCIDENTE,TERESINA,PI,SBTE,2015-12-12,19:05:00,0.0
2315,60604,60604,INCIDENTE,GOIÂNIA,GO,SBGO,2015-12-12,14:34:00,0.0
2316,60611,60611,INCIDENTE,SÃO PAULO,SP,SBSP,2015-12-12,15:30:00,0.0
2317,60613,60613,ACIDENTE,JUSCIMEIRA,MT,SWMO,2015-12-12,8:31:00,0.0
2318,60629,60629,ACIDENTE,RIO GRANDE,RS,NaN,2015-12-12,10:40:00,0.0
2319,53630,53630,INCIDENTE,MARÍLIA,SP,SBML,2015-12-13,13:50:00,0.0
2320,60603,60603,INCIDENTE,LONDRINA,PR,SBLO,2015-12-13,17:46:00,0.0
2321,60612,60612,ACIDENTE,BENTO GONÇALVES,RS,SSBG,2015-12-13,20:30:00,0.0
2322,60783,60783,ACIDENTE,LAGES,SC,NaN,2015-12-13,14:00:00,3.0
2323,53639,53639,INCIDENTE,LOUVEIRA,SP,SDAM,2015-12-15,14:20:00,0.0
2324,60609,60609,INCIDENTE GRAVE,ARAGUAÍNA,TO,SWGN,2015-12-15,13:00:00,0.0
2325,60616,60616,ACIDENTE,PALOTINA,PR,NaN,2015-12-15,20:30:00,0.0
2326,60620,60620,ACIDENTE,RIO DE JANEIRO,RJ,SBJR,2015-12-15,16:50:00,4.0
2327,60645,60645,ACIDENTE,SERTÃOZINHO,SP,NaN,2015-12-15,13:00:00,0.0
2328,60608,60608,INCIDENTE,BELO HORIZONTE,MG,SBPR,2015-12-16,10:38:00,0.0
2329,60625,60625,ACIDENTE,ITÁPOLIS,SP,SDIO,2015-12-17,21:30:00,1.0
2330,60605,60605,INCIDENTE,UBERLÂNDIA,MG,SBUL,2015-12-18,10:25:00,0.0
2331,60610,60610,INCIDENTE,JUNDIAÍ,SP,SBJD,2015-12-18,18:45:00,0.0
2332,60602,60602,INCIDENTE,RIBEIRÃO PRETO,SP,SBRP,2015-12-22,6:27:00,0.0
2333,60615,60615,INCIDENTE,SÃO PAULO,SP,SBMT,2015-12-22,13:07:00,0.0
2334,60640,60640,INCIDENTE,CASCAVEL,PR,SBCA,2015-12-23,13:20:00,0.0
2335,60641,60641,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-12-23,15:53:00,0.0
2336,60632,60632,INCIDENTE GRAVE,ITABERÁ,SP,NaN,2015-12-24,14:00:00,0.0
2337,60600,60600,INCIDENTE,GUARULHOS,SP,SBGR,2015-12-25,19:00:00,0.0
2338,60642,60642,INCIDENTE,SÃO FRANCISCO DO SUL,SC,SSSS,2015-12-26,16:00:00,0.0
2339,60631,60631,ACIDENTE,MAÇAMBARÁ,RS,NaN,2015-12-28,19:00:00,2.0
2340,60649,60649,ACIDENTE,PORTO BELO,SC,SDEN,2015-12-31,14:00:00,0.0

In [134]:
# Filtrar por Mês e Ano
# 2ª forma - filtro em 1 linha:
filtro = (df.ocorrencia_dia.dt.month == 12) & (df.ocorrencia_dia.dt.year == 2015)
df.loc[filtro]
# .dt.month - método que busca o mês na data
# .dt.year - método que busca o ano na data
# == 12 - especifica o mês a ser buscado
# == 2015 - especifica o ano a ser buscado
# os filtros são colocados na mesma linha entre () para que os operadores de comparação '==' sejam executados antes do operador lógico '&'
# retornará os registros cujas datas são do mês 12 (dezembro) do ano de 2015

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2302,53573,53573,INCIDENTE,GUARULHOS,SP,SBGR,2015-12-01,2:48:00,0.0
2303,60601,60601,INCIDENTE,PALMAS,TO,SBPJ,2015-12-01,16:05:00,0.0
2304,53634,53634,INCIDENTE,PALMAS,TO,SBPJ,2015-12-02,17:45:00,0.0
2305,53636,53636,INCIDENTE,JUNDIAÍ,SP,SBJD,2015-12-02,17:42:00,0.0
2306,53575,53575,INCIDENTE,CAMPOS DOS GOYTACAZES,RJ,SBFS,2015-12-03,10:50:00,0.0
2307,60637,60637,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-12-03,16:47:00,0.0
2308,53625,53625,ACIDENTE,TRINDADE,GO,NaN,2015-12-06,13:10:00,3.0
2309,53626,53626,ACIDENTE,AMERICANA,SP,SDAI,2015-12-06,15:00:00,1.0
2310,53628,53628,ACIDENTE,AGUAÍ,SP,NaN,2015-12-08,14:30:00,1.0
2311,53629,53629,INCIDENTE GRAVE,JALES,SP,SDJL,2015-12-08,10:20:00,0.0
2312,53631,53631,INCIDENTE,CAMPINAS,SP,SBKP,2015-12-08,16:19:00,0.0
2313,60636,60636,INCIDENTE,CAXIAS DO SUL,RS,SBCX,2015-12-08,13:00:00,0.0
2314,53627,53627,INCIDENTE,TERESINA,PI,SBTE,2015-12-12,19:05:00,0.0
2315,60604,60604,INCIDENTE,GOIÂNIA,GO,SBGO,2015-12-12,14:34:00,0.0
2316,60611,60611,INCIDENTE,SÃO PAULO,SP,SBSP,2015-12-12,15:30:00,0.0
2317,60613,60613,ACIDENTE,JUSCIMEIRA,MT,SWMO,2015-12-12,8:31:00,0.0
2318,60629,60629,ACIDENTE,RIO GRANDE,RS,NaN,2015-12-12,10:40:00,0.0
2319,53630,53630,INCIDENTE,MARÍLIA,SP,SBML,2015-12-13,13:50:00,0.0
2320,60603,60603,INCIDENTE,LONDRINA,PR,SBLO,2015-12-13,17:46:00,0.0
2321,60612,60612,ACIDENTE,BENTO GONÇALVES,RS,SSBG,2015-12-13,20:30:00,0.0
2322,60783,60783,ACIDENTE,LAGES,SC,NaN,2015-12-13,14:00:00,3.0
2323,53639,53639,INCIDENTE,LOUVEIRA,SP,SDAM,2015-12-15,14:20:00,0.0
2324,60609,60609,INCIDENTE GRAVE,ARAGUAÍNA,TO,SWGN,2015-12-15,13:00:00,0.0
2325,60616,60616,ACIDENTE,PALOTINA,PR,NaN,2015-12-15,20:30:00,0.0
2326,60620,60620,ACIDENTE,RIO DE JANEIRO,RJ,SBJR,2015-12-15,16:50:00,4.0
2327,60645,60645,ACIDENTE,SERTÃOZINHO,SP,NaN,2015-12-15,13:00:00,0.0
2328,60608,60608,INCIDENTE,BELO HORIZONTE,MG,SBPR,2015-12-16,10:38:00,0.0
2329,60625,60625,ACIDENTE,ITÁPOLIS,SP,SDIO,2015-12-17,21:30:00,1.0
2330,60605,60605,INCIDENTE,UBERLÂNDIA,MG,SBUL,2015-12-18,10:25:00,0.0
2331,60610,60610,INCIDENTE,JUNDIAÍ,SP,SBJD,2015-12-18,18:45:00,0.0
2332,60602,60602,INCIDENTE,RIBEIRÃO PRETO,SP,SBRP,2015-12-22,6:27:00,0.0
2333,60615,60615,INCIDENTE,SÃO PAULO,SP,SBMT,2015-12-22,13:07:00,0.0
2334,60640,60640,INCIDENTE,CASCAVEL,PR,SBCA,2015-12-23,13:20:00,0.0
2335,60641,60641,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-12-23,15:53:00,0.0
2336,60632,60632,INCIDENTE GRAVE,ITABERÁ,SP,NaN,2015-12-24,14:00:00,0.0
2337,60600,60600,INCIDENTE,GUARULHOS,SP,SBGR,2015-12-25,19:00:00,0.0
2338,60642,60642,INCIDENTE,SÃO FRANCISCO DO SUL,SC,SSSS,2015-12-26,16:00:00,0.0
2339,60631,60631,ACIDENTE,MAÇAMBARÁ,RS,NaN,2015-12-28,19:00:00,2.0
2340,60649,60649,ACIDENTE,PORTO BELO,SC,SDEN,2015-12-31,14:00:00,0.0

In [135]:
# Filtrar por Dia, Mês e Ano

filtro1 = df.ocorrencia_dia.dt.day == 8
filtro2 = df.ocorrencia_dia.dt.month == 12
filtro3 = df.ocorrencia_dia.dt.year == 2015
df.loc[filtro1 & filtro2 & filtro3] # a ordem entre os filtros não interfere no resultado
# .dt.day - método que busca o dia na data
# .dt.month - método que busca o mês na data
# .dt.year - método que busca o ano na data
# == 8 - especifica o dia a ser buscado
# == 12 - especifica o mês a ser buscado
# == 2015 - especifica o ano a ser buscado
# retornará os registros cujas datas são do mês 12 (dezembro) do ano de 2015

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2310,53628,53628,ACIDENTE,AGUAÍ,SP,NaN,2015-12-08,14:30:00,1.0
2311,53629,53629,INCIDENTE GRAVE,JALES,SP,SDJL,2015-12-08,10:20:00,0.0
2312,53631,53631,INCIDENTE,CAMPINAS,SP,SBKP,2015-12-08,16:19:00,0.0
2313,60636,60636,INCIDENTE,CAXIAS DO SUL,RS,SBCX,2015-12-08,13:00:00,0.0

#### Filtrar um ***Intervalo de Datas***:

In [136]:
filtro1 = (df.ocorrencia_dia.dt.day >= 3) & (df.ocorrencia_dia.dt.day <= 8) # especifica o intervalo de datas
filtro2 = df.ocorrencia_dia.dt.month == 12
filtro3 = df.ocorrencia_dia.dt.year == 2015
df.loc[filtro1 & filtro2 & filtro3] 
# (df.ocorrencia_dia.dt.day >= 3) - espeficica o início do intervalo de datas
# (df.ocorrencia_dia.dt.day <= 8) - espeficica o final do intervalo de datas
# retorna os registros com datas entre 3 e 8/12/2015

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2306,53575,53575,INCIDENTE,CAMPOS DOS GOYTACAZES,RJ,SBFS,2015-12-03,10:50:00,0.0
2307,60637,60637,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-12-03,16:47:00,0.0
2308,53625,53625,ACIDENTE,TRINDADE,GO,NaN,2015-12-06,13:10:00,3.0
2309,53626,53626,ACIDENTE,AMERICANA,SP,SDAI,2015-12-06,15:00:00,1.0
2310,53628,53628,ACIDENTE,AGUAÍ,SP,NaN,2015-12-08,14:30:00,1.0
2311,53629,53629,INCIDENTE GRAVE,JALES,SP,SDJL,2015-12-08,10:20:00,0.0
2312,53631,53631,INCIDENTE,CAMPINAS,SP,SBKP,2015-12-08,16:19:00,0.0
2313,60636,60636,INCIDENTE,CAXIAS DO SUL,RS,SBCX,2015-12-08,13:00:00,0.0

## 4 - Geração de Novos Dados

### Converter a coluna ocorrencia_dia para o tipo string:

In [137]:
df.ocorrencia_dia.astype(str) + " " + df.ocorrencia_hora
# .astype(str) - método que converte a coluna ocorrencia_dia para o tipo de dados string
# essa conversão viabilisa a concatenação com a coluna ocorrencia_hora, que já é do formato string
# será exibido a concatenação das colunas como resultado da instrução

0       2012-01-05 20:27:00
1       2012-01-06 13:44:00
2       2012-01-06 13:00:00
3       2012-01-06 17:00:00
4       2012-01-06 16:30:00
               ...
5162    2021-12-30 20:30:00
5163     2021-12-31 9:30:00
5164    2021-12-31 11:59:00
5165    2021-12-31 15:12:00
5166    2021-12-31 20:30:00
Length: 5167, dtype: object

### Converter a string da concatenação para o tipo de dados datetime e atribuir à uma nova coluna no dataframe:

In [138]:
df['ocorrencia_dia_hora'] = pd.to_datetime(df.ocorrencia_dia.astype(str) + " " + df.ocorrencia_hora)
# df['ocorrencia_dia_hora'] - criação da nova coluna
# pd.to_datetime() - função do Pandas que converte strings para o tipo de dados datetime

In [139]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0.0,2012-01-05 20:27:00
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3.0,2012-01-06 13:44:00
2,45333,45333,ACIDENTE,VIAMÃO,RS,NaN,2012-01-06,13:00:00,0.0,2012-01-06 13:00:00
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0.0,2012-01-06 17:00:00
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,NaN,2012-01-06,16:30:00,0.0,2012-01-06 16:30:00
...,...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,NaN,2021-12-30,20:30:00,0.0,2021-12-30 20:30:00
5163,80452,80452,ACIDENTE,MARACAÍ,SP,NaN,2021-12-31,9:30:00,0.0,2021-12-31 09:30:00
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0.0,2021-12-31 11:59:00
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0.0,2021-12-31 15:12:00
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0.0,2021-12-31 20:30:00

In [140]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                float64
ocorrencia_dia_hora         datetime64[ns]
dtype: object

### Filtrar por Data e Hora:

In [141]:
filtrox = df.ocorrencia_dia_hora >= "2015-12-03 11:00:00"
filtroy = df.ocorrencia_dia_hora <= "2015-12-08 13:00:00"
df.loc[filtrox | filtroy]
# '2015-12-03 11:00:00' - valor exato da data e hora inicial
# '2015-12-08 13:00:00' - valor exato da data e hora final
# retornará os registros entre as 11h do dia 3/12/2015 e as 13h do dia 8/12/2015

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0.0,2012-01-05 20:27:00
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3.0,2012-01-06 13:44:00
2,45333,45333,ACIDENTE,VIAMÃO,RS,NaN,2012-01-06,13:00:00,0.0,2012-01-06 13:00:00
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0.0,2012-01-06 17:00:00
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,NaN,2012-01-06,16:30:00,0.0,2012-01-06 16:30:00
...,...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,NaN,2021-12-30,20:30:00,0.0,2021-12-30 20:30:00
5163,80452,80452,ACIDENTE,MARACAÍ,SP,NaN,2021-12-31,9:30:00,0.0,2021-12-31 09:30:00
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0.0,2021-12-31 11:59:00
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0.0,2021-12-31 15:12:00
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0.0,2021-12-31 20:30:00

## 5 - Agrupamento de Dados

### Criando um Novo Dataframe:

In [142]:
filtroa = df.ocorrencia_dia.dt.month == 3
filtrob = df.ocorrencia_dia.dt.year == 2015
df201503 = df.loc[filtroa & filtrob]
# agrupamento das ocorrencias no mês 3 do ano de 2015
# df201503 - novo dataframe a ser criado
# df.loc[filtro1 & filtro2] - o resultado do filtro é atribuído ao novo dataframe

In [143]:
df201503.count()

codigo_ocorrencia           37
codigo_ocorrencia2          37
ocorrencia_classificacao    37
ocorrencia_cidade           37
ocorrencia_uf               37
ocorrencia_aerodromo        21
ocorrencia_dia              37
ocorrencia_hora             37
total_recomendacoes         37
ocorrencia_dia_hora         37
dtype: int64

### Fazer Agrupamento por Colunas:

In [144]:
df201503.groupby(['codigo_ocorrencia']).count()
# .groupby - função que faz o agrupamento dos dados
# ['codigo_ocorrencia'] - array pelo qual são passadas as colunas pelas quais será realizado o agrupamento
# .count() - sumariza os registros pela quantidade de vezes que os dados da coluna se repetem nos registros do dataframe
# exibirá o grid com todas as colunas do dataframe exibindo o valor que os dados se repetem no registro
# nas células com dados ausentes, será exibido o valor 0, pois elas não contam
# no exemplo acima, os valores exibidos nas células será 1, pois os dados da coluna codigo_ocorrencia não se repetem no dataframe

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora
codigo_ocorrencia,,,,,,,,,
53109,1,1,1,1,1,1,1,1,1
53112,1,1,1,1,0,1,1,1,1
53120,1,1,1,1,1,1,1,1,1
53148,1,1,1,1,1,1,1,1,1
53149,1,1,1,1,1,1,1,1,1
53151,1,1,1,1,1,1,1,1,1
53152,1,1,1,1,1,1,1,1,1
53153,1,1,1,1,1,1,1,1,1
53154,1,1,1,1,1,1,1,1,1
53164,1,1,1,1,0,1,1,1,1
53165,1,1,1,1,0,1,1,1,1
53166,1,1,1,1,0,1,1,1,1
53167,1,1,1,1,1,1,1,1,1
53168,1,1,1,1,1,1,1,1,1
53169,1,1,1,1,1,1,1,1,1
53170,1,1,1,1,1,1,1,1,1
53178,1,1,1,1,0,1,1,1,1
53179,1,1,1,1,0,1,1,1,1
53180,1,1,1,1,0,1,1,1,1
53181,1,1,1,1,0,1,1,1,1
53182,1,1,1,1,0,1,1,1,1
53183,1,1,1,1,0,1,1,1,1
53184,1,1,1,1,0,1,1,1,1
53185,1,1,1,1,1,1,1,1,1
53186,1,1,1,1,0,1,1,1,1
53187,1,1,1,1,1,1,1,1,1
53188,1,1,1,1,1,1,1,1,1
53189,1,1,1,1,1,1,1,1,1
53190,1,1,1,1,1,1,1,1,1
53193,1,1,1,1,0,1,1,1,1
53194,1,1,1,1,1,1,1,1,1
53211,1,1,1,1,1,1,1,1,1
53212,1,1,1,1,1,1,1,1,1
53213,1,1,1,1,1,1,1,1,1
53238,1,1,1,1,0,1,1,1,1
53412,1,1,1,1,0,1,1,1,1
53596,1,1,1,1,0,1,1,1,1

### Exibindo apenas uma Coluna no agrupamento:

In [145]:
df201503.groupby(['codigo_ocorrencia']).codigo_ocorrencia.count()
# .codigo_ocorrencia - faz exibir apenas a coluna codigo_ocorrencia no resultado do agrupamento

codigo_ocorrencia
53109    1
53112    1
53120    1
53148    1
53149    1
53151    1
53152    1
53153    1
53154    1
53164    1
53165    1
53166    1
53167    1
53168    1
53169    1
53170    1
53178    1
53179    1
53180    1
53181    1
53182    1
53183    1
53184    1
53185    1
53186    1
53187    1
53188    1
53189    1
53190    1
53193    1
53194    1
53211    1
53212    1
53213    1
53238    1
53412    1
53596    1
Name: codigo_ocorrencia, dtype: int64

### Agrupando por uma coluna com Dados que se Repetem:

In [146]:
df201503.groupby(['ocorrencia_classificacao']).codigo_ocorrencia.count()
# sumariza os dados pela quantidade de vezes que a classificação se repete nos registros com os dados da coluna codigo_ocorrencia

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
Name: codigo_ocorrencia, dtype: int64

### Agrupamento por uma coluna com Dados que se Repetem e contados com uma Coluna com Dados Ausentes:

In [147]:
df201503.groupby(['ocorrencia_classificacao']).ocorrencia_aerodromo.count()
# agrupará os dados pela coluna ocorrencia_classificacao
# contará os registros pela coluna ocorrencia_aerodromo - que possui dados ausentes
# gerará um agrupamento com resultado inconsistente - mesmo existindo, os registros com dados ausentes na coluna indicada para contagem não são considerados

ocorrencia_classificacao
ACIDENTE            5
INCIDENTE          14
INCIDENTE GRAVE     2
Name: ocorrencia_aerodromo, dtype: int64

### Agrupando por Coluna com Dados que se Repetem independente das Demais Colunas:

In [148]:
df201503.groupby(['ocorrencia_classificacao']).size()
# .size() - função que faz a contagem dos registros independente das demais colunas

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
dtype: int64

### Ordenando os Valores do Agrupamento:

#### Ordenando em Ordem Crescente

In [149]:
df201503.groupby(['ocorrencia_classificacao']).size().sort_values()
# .sort_values() - função que ordena os valores do agrupamento em ordem crescente

ocorrencia_classificacao
INCIDENTE GRAVE     5
ACIDENTE           15
INCIDENTE          17
dtype: int64

#### Ordenando em Ordem Decrescente:

In [150]:
df201503.groupby(['ocorrencia_classificacao']).size().sort_values(ascending=False)
# .sort_values(ascending=False) - função que ordena os valores do agrupamento em ordem decrescente

ocorrencia_classificacao
INCIDENTE          17
ACIDENTE           15
INCIDENTE GRAVE     5
dtype: int64

#### Obter o Agrupamento de Dados das Ocorrências na Região Sudeste (SP, MG, ES, RJ) no ano de 2010:

##### Criando um novo Dataframe com os dados da Região Sudeste de 2010:

In [151]:
filtroc = df.ocorrencia_dia.dt.year == 2012 # faz a busca pelos dados de 2012
filtrod = df.ocorrencia_uf.isin(['SP','MG','ES','RJ']) # faz a busca pelos dados dos Estados da Região Sudeste
dfsudeste2012 = df.loc[filtroc & filtrod] # Cria um novo dataframe (dfsudeste2012) com os dados da Região Sudeste do ano de 2012
dfsudeste2012 # exibe o novo dataframe

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3.0,2012-01-06 13:44:00
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0.0,2012-01-06 17:00:00
5,52243,52243,INCIDENTE,UBATUBA,SP,NaN,2012-01-06,14:30:00,0.0,2012-01-06 14:30:00
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0.0,2012-01-07 18:15:00
8,45391,45391,ACIDENTE,CONCEIÇÃO DAS ALAGOAS,MG,NaN,2012-01-08,16:00:00,0.0,2012-01-08 16:00:00
...,...,...,...,...,...,...,...,...,...,...
640,46793,46793,INCIDENTE,SÃO PAULO,SP,NaN,2012-12-28,16:30:00,0.0,2012-12-28 16:30:00
641,46780,46780,ACIDENTE,SANTA FÉ DO SUL,SP,NaN,2012-12-29,21:00:00,0.0,2012-12-29 21:00:00
642,46814,46814,INCIDENTE,BELO HORIZONTE,MG,SBBH,2012-12-29,15:10:00,0.0,2012-12-29 15:10:00
643,46839,46839,ACIDENTE,RIO DE JANEIRO,RJ,NaN,2012-12-29,19:00:00,0.0,2012-12-29 19:00:00
644,46910,46910,INCIDENTE,UBATUBA,SP,NaN,2012-12-29,20:00:00,0.0,2012-12-29 20:00:00

##### Agrupando os Dados pela Classificação das Ocorrências:

In [152]:
dfsudeste2012.groupby(['ocorrencia_classificacao']).size().sort_values() # agrupará os dados do dataframe pelos valores da coluna 'ocorrencia_classificacao'

ocorrencia_classificacao
INCIDENTE GRAVE     31
ACIDENTE            85
INCIDENTE          188
dtype: int64

##### Agrupar pela Classificação das Ocorrências por Estado da Região:

In [153]:
dfsudeste2012.groupby(['ocorrencia_classificacao', 'ocorrencia_uf']).size()
# ['ocorrencia_classificacao', 'ocorrencia_uf'] - array com as colunas para o agrupamento na ordem em que os dados serão agrupados

ocorrencia_classificacao  ocorrencia_uf
ACIDENTE                  ES                1
                          MG               21
                          RJ               14
                          SP               49
INCIDENTE                 ES               11
                          MG               37
                          RJ               53
                          SP               87
INCIDENTE GRAVE           MG                9
                          RJ                5
                          SP               17
dtype: int64

##### Agrupar pelo Estado da Região por Classificação da Ocorrência:

In [154]:
dfsudeste2012.groupby(['ocorrencia_uf', 'ocorrencia_classificacao']).size()
# ['ocorrencia_uf', 'ocorrencia_classificacao'] - array com as colunas para o agrupamento na ordem em que os dados serão agrupados

ocorrencia_uf  ocorrencia_classificacao
ES             ACIDENTE                     1
               INCIDENTE                   11
MG             ACIDENTE                    21
               INCIDENTE                   37
               INCIDENTE GRAVE              9
RJ             ACIDENTE                    14
               INCIDENTE                   53
               INCIDENTE GRAVE              5
SP             ACIDENTE                    49
               INCIDENTE                   87
               INCIDENTE GRAVE             17
dtype: int64

##### Agrupar por Cidade:

In [155]:
dfsudeste2012.groupby(['ocorrencia_cidade']).size().sort_values(ascending=False)
# .sort_values(ascending=False) - por esse parâmetro conseguimos visualizar no início do resultado as cidades coom mais acidentes em 2012

ocorrencia_cidade
RIO DE JANEIRO          36
SÃO PAULO               31
BELO HORIZONTE          25
MACAÉ                   17
CAMPINAS                17
                        ..
GURINHATÃ                1
GUARUJÁ                  1
GUARATINGUETÁ            1
GOVERNADOR VALADARES     1
ITUIUTABA                1
Length: 90, dtype: int64

##### Filtrar os Dados pela Cidade do Rio de Janeiro - cidade com mais incidentes:

In [156]:
filtro = dfsudeste2012.ocorrencia_cidade == 'RIO DE JANEIRO'
dfsudeste2012.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora
29,45393,45393,ACIDENTE,RIO DE JANEIRO,RJ,SBJR,2012-01-22,20:25:00,0.0,2012-01-22 20:25:00
30,45397,45397,INCIDENTE GRAVE,RIO DE JANEIRO,RJ,NaN,2012-01-22,19:05:00,2.0,2012-01-22 19:05:00
40,45415,45415,ACIDENTE,RIO DE JANEIRO,RJ,NaN,2012-01-30,13:55:00,0.0,2012-01-30 13:55:00
49,45703,45703,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2012-02-03,2:04:00,0.0,2012-02-03 02:04:00
60,45588,45588,ACIDENTE,RIO DE JANEIRO,RJ,NaN,2012-02-07,20:56:00,4.0,2012-02-07 20:56:00
69,45470,45470,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2012-02-12,2:20:00,0.0,2012-02-12 02:20:00
74,45689,45689,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2012-02-17,23:00:00,0.0,2012-02-17 23:00:00
89,45709,45709,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2012-02-26,15:42:00,0.0,2012-02-26 15:42:00
103,45604,45604,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2012-03-06,11:31:00,0.0,2012-03-06 11:31:00
120,45611,45611,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2012-03-12,1:42:00,0.0,2012-03-12 01:42:00
215,45853,45853,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2012-05-10,14:50:00,0.0,2012-05-10 14:50:00
220,45854,45854,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2012-05-17,19:40:00,0.0,2012-05-17 19:40:00
235,45915,45915,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2012-05-23,14:30:00,0.0,2012-05-23 14:30:00
262,46117,46117,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2012-06-08,20:55:00,0.0,2012-06-08 20:55:00
267,45945,45945,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2012-06-13,21:00:00,0.0,2012-06-13 21:00:00
269,45989,45989,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2012-06-13,23:00:00,0.0,2012-06-13 23:00:00
303,46155,46155,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2012-06-30,15:40:00,0.0,2012-06-30 15:40:00
339,46172,46172,ACIDENTE,RIO DE JANEIRO,RJ,NaN,2012-07-24,19:10:00,1.0,2012-07-24 19:10:00
369,52062,52062,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2012-08-09,19:12:00,0.0,2012-08-09 19:12:00
381,46263,46263,INCIDENTE GRAVE,RIO DE JANEIRO,RJ,SBJR,2012-08-17,15:15:00,3.0,2012-08-17 15:15:00
397,46846,46846,ACIDENTE,RIO DE JANEIRO,RJ,NaN,2012-08-21,22:35:00,0.0,2012-08-21 22:35:00
412,46520,46520,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2012-09-06,16:27:00,0.0,2012-09-06 16:27:00
438,46655,46655,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2012-09-21,20:58:00,0.0,2012-09-21 20:58:00
442,46379,46379,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2012-09-22,9:15:00,0.0,2012-09-22 09:15:00
457,46478,46478,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2012-09-25,21:55:00,0.0,2012-09-25 21:55:00
459,46455,46455,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2012-09-26,13:37:00,0.0,2012-09-26 13:37:00
477,46476,46476,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2012-10-05,18:00:00,0.0,2012-10-05 18:00:00
514,52069,52069,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2012-10-25,18:33:00,0.0,2012-10-25 18:33:00
518,46639,46639,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2012-10-27,22:00:00,0.0,2012-10-27 22:00:00
565,46591,46591,ACIDENTE,RIO DE JANEIRO,RJ,NaN,2012-11-21,11:47:00,0.0,2012-11-21 11:47:00
595,46706,46706,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2012-12-05,17:40:00,1.0,2012-12-05 17:40:00
603,46765,46765,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2012-12-07,1:00:00,0.0,2012-12-07 01:00:00
608,46766,46766,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2012-12-10,17:00:00,0.0,2012-12-10 17:00:00
616,46767,46767,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2012-12-13,15:13:00,0.0,2012-12-13 15:13:00
620,46749,46749,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2012-12-16,1:20:00,0.0,2012-12-16 01:20:00
643,46839,46839,ACIDENTE,RIO DE JANEIRO,RJ,NaN,2012-12-29,19:00:00,0.0,2012-12-29 19:00:00

##### Somando as Recomendações para a Cidade do Rio de Janeiro:

In [157]:
filtro = dfsudeste2012.ocorrencia_cidade == 'RIO DE JANEIRO'
dfsudeste2012.loc[filtro].total_recomendacoes.sum()
# .total_recomendacoes.sum() - soma as recomendações para a cidade do Rio de Janeiro

11.0

##### Agrupando por Cidade e Somando o Total de Recomendações:

In [158]:
dfsudeste2012.groupby(['ocorrencia_cidade']).total_recomendacoes.sum().sort_values(ascending=False)
# .groupby(['ocorrencia_cidade']) - agrupa os dados por cidade
# .total_recomendacoes.sum() - soma pelo total de recomendações
# .sort_values(ascending=False) - ordena os resultados em ordem decrescente - para verificarmos as cidades com mais recomendações

ocorrencia_cidade
RIO DE JANEIRO       11.0
SÃO PAULO             8.0
BOITUVA               7.0
MACAÉ                 4.0
BRAGANÇA PAULISTA     4.0
                     ...
ITIRAPINA             0.0
ALFENAS               0.0
ITUPEVA               0.0
JABOTICABAL           0.0
VITÓRIA               0.0
Name: total_recomendacoes, Length: 90, dtype: float64

##### Agrupando por Aerodromo e Somando o Total de Recomendações:

In [159]:
dfsudeste2012.groupby(['ocorrencia_aerodromo']).total_recomendacoes.sum().sort_values(ascending=False)
# .groupby(['ocorrencia_aerodromo']) - agrupa os dados por cidade
# .total_recomendacoes.sum() - soma pelo total de recomendações
# .sort_values(ascending=False) - ordena os resultados em ordem decrescente - para verificarmos os aerodromos com mais recomendações

ocorrencia_aerodromo
SBJR    4.0
SBBP    4.0
SBGR    4.0
SDCD    3.0
SBPR    3.0
SDBB    2.0
SBSP    2.0
SBJD    2.0
SBMT    2.0
SDAM    1.0
SDMC    0.0
SDBK    0.0
SDBN    0.0
SDCO    0.0
SDIO    0.0
SBBH    0.0
SDAA    0.0
SDMV    0.0
SDPW    0.0
SDRK    0.0
SDTB    0.0
SDTF    0.0
SDVH    0.0
SILT    0.0
SJPT    0.0
SNHH    0.0
SNOF    0.0
SDAI    0.0
SBSR    0.0
SBVT    0.0
SBUR    0.0
SBBU    0.0
SBBZ    0.0
SBCB    0.0
SBCF    0.0
SBCP    0.0
SBDN    0.0
SBGL    0.0
SBGW    0.0
SBIP    0.0
SBJF    0.0
SBKP    0.0
SBME    0.0
SBPC    0.0
SBRJ    0.0
SBRP    0.0
SBSJ    0.0
SBUL    0.0
SWXQ    0.0
Name: total_recomendacoes, dtype: float64

##### Agrupando considerando os Valores Ausentes:

In [160]:
dfsudeste2012.groupby(['ocorrencia_aerodromo'], dropna=False).total_recomendacoes.sum().sort_values(ascending=False)
# dropna=False - parâmetro que exibe os valores ausentes na coluna ocorrencia_aerodromo no resultado

ocorrencia_aerodromo
NaN     48.0
SBGR     4.0
SBBP     4.0
SBJR     4.0
SDCD     3.0
SBPR     3.0
SBMT     2.0
SDBB     2.0
SBSP     2.0
SBJD     2.0
SDAM     1.0
SWXQ     0.0
SDBK     0.0
SDBN     0.0
SDCO     0.0
SDIO     0.0
SNHH     0.0
SJPT     0.0
SDMV     0.0
SDAI     0.0
SDPW     0.0
SDRK     0.0
SDTB     0.0
SNOF     0.0
SDTF     0.0
SDVH     0.0
SILT     0.0
SDMC     0.0
SBBH     0.0
SDAA     0.0
SBIP     0.0
SBBU     0.0
SBBZ     0.0
SBCB     0.0
SBCF     0.0
SBCP     0.0
SBDN     0.0
SBGL     0.0
SBGW     0.0
SBJF     0.0
SBVT     0.0
SBKP     0.0
SBME     0.0
SBPC     0.0
SBRJ     0.0
SBRP     0.0
SBSJ     0.0
SBSR     0.0
SBUR     0.0
SBUL     0.0
Name: total_recomendacoes, dtype: float64

##### Agrupar somente as cidades que receberam recomendações:

In [161]:
filtro = dfsudeste2012.total_recomendacoes > 0 # filtra os registros que receberam recomendações
dfsudeste2012.loc[filtro].groupby(['ocorrencia_cidade']).total_recomendacoes.sum().sort_values(ascending=False)
# dfsudeste2012.loc[filtro] - executa o filtro pelos registros com recomendação
# .groupby(['ocorrencia_cidade']) - faz o agrupamento pela cidades das ocorrências
# .total_recomendacoes.sum() - soma o total de recomendações
# .sort_values(ascending=False) - ordena os resultados em ordem decrescente para sabermos as cidades com mais recomendações

ocorrencia_cidade
RIO DE JANEIRO           11.0
SÃO PAULO                 8.0
BOITUVA                   7.0
MACAÉ                     4.0
BRAGANÇA PAULISTA         4.0
GUARULHOS                 4.0
GUARUJÁ                   3.0
JUQUIÁ                    3.0
CATANDUVA                 3.0
BELO HORIZONTE            3.0
SANTA BÁRBARA D'OESTE     2.0
LENÇÓIS PAULISTA          2.0
ESPINOSA                  2.0
CAMPO FLORIDO             2.0
BEBEDOURO                 2.0
PARÁ DE MINAS             2.0
ITÁPOLIS                  2.0
JUNDIAÍ                   2.0
ITANHAÉM                  2.0
ANGRA DOS REIS            1.0
JUIZ DE FORA              1.0
ITU                       1.0
ELDORADO                  1.0
DRACENA                   1.0
CAMPINAS                  1.0
TARUMIRIM                 1.0
Name: total_recomendacoes, dtype: float64

##### Agrupar o Total de Recomendações por Aerodromo da Cidade do Rio de Janeiro:

In [162]:
filtroe = dfsudeste2012.total_recomendacoes > 0
filtrof = dfsudeste2012.ocorrencia_cidade == 'RIO DE JANEIRO'
dfsudeste2012.loc[filtroe & filtrof].groupby(['ocorrencia_aerodromo'], dropna=False).total_recomendacoes.sum().sort_values(ascending=False)
# dfsudeste2012.loc[filtroe & filtrof] - filtra por registros com recomendação e por registros da cidade do Rio de Janeiro
# .groupby(['ocorrencia_aerodromo'], dropna=False) - agrupa pela coluna ocorrencia_aerodromo considerando os valores ausentes
# .total_recomendacoes.sum() - soma o total de recomendaçoes por aerodromo
# .sort_values(ascending=False) - ordena os resultados em ordem decrescente para sabermos qual aerodromo teve mais recomendações

ocorrencia_aerodromo
NaN     7.0
SBJR    4.0
Name: total_recomendacoes, dtype: float64

##### Agrupar nas Cidades o Total de Recomendações por Meses:

In [163]:
filtro = dfsudeste2012.total_recomendacoes > 0
dfsudeste2012.loc[filtro].groupby(['ocorrencia_cidade', dfsudeste2012.ocorrencia_dia.dt.month]).total_recomendacoes.sum().sort_values()
# dfsudeste2012.ocorrencia_dia.dt.month - referência para buscar os meses nas datas da coluna ocorrencia_dia para fazer o agrupamento

ocorrencia_cidade      ocorrencia_dia
ANGRA DOS REIS         7                 1.0
SÃO PAULO              6                 1.0
                       5                 1.0
RIO DE JANEIRO         12                1.0
                       7                 1.0
ITU                    3                 1.0
GUARULHOS              4                 1.0
ELDORADO               1                 1.0
JUIZ DE FORA           7                 1.0
TARUMIRIM              8                 1.0
DRACENA                5                 1.0
CAMPINAS               8                 1.0
RIO DE JANEIRO         1                 2.0
PARÁ DE MINAS          12                2.0
LENÇÓIS PAULISTA       5                 2.0
BEBEDOURO              7                 2.0
JUNDIAÍ                4                 2.0
SÃO PAULO              12                2.0
ITÁPOLIS               12                2.0
ITANHAÉM               4                 2.0
CAMPO FLORIDO          2                 2.0
SÃO PAULO              7                 2.0
                       11                2.0
ESPINOSA               7                 2.0
SANTA BÁRBARA D'OESTE  8                 2.0
BELO HORIZONTE         8                 3.0
CATANDUVA              10                3.0
JUQUIÁ                 10                3.0
GUARULHOS              1                 3.0
GUARUJÁ                4                 3.0
RIO DE JANEIRO         8                 3.0
BRAGANÇA PAULISTA      4                 4.0
RIO DE JANEIRO         2                 4.0
MACAÉ                  2                 4.0
BOITUVA                7                 7.0
Name: total_recomendacoes, dtype: float64

## 6 - Exportando os Resultados

### Exportando um Dataframe criado por um Filtro:

In [183]:
dfsudeste2012.dropna(inplace=True)

C:\Users\BRUNO\AppData\Local\Temp/ipykernel_13124/2774203662.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsudeste2012.dropna(inplace=True)

In [189]:
dfsudeste2012.drop(['ocorrencia_horas'],axis=1)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3.0,2012-01-06 13:44:00
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0.0,2012-01-07 18:15:00
9,52244,52244,INCIDENTE,UBERLÂNDIA,MG,SBUL,2012-01-08,22:13:00,0.0,2012-01-08 22:13:00
20,52247,52247,INCIDENTE,BELO HORIZONTE,MG,SBPR,2012-01-18,13:10:00,0.0,2012-01-18 13:10:00
26,45410,45410,ACIDENTE,BRAGANÇA PAULISTA,SP,SDVH,2012-01-21,23:30:00,0.0,2012-01-21 23:30:00
...,...,...,...,...,...,...,...,...,...,...
626,46755,46755,INCIDENTE GRAVE,RIBEIRÃO PRETO,SP,SBRP,2012-12-21,9:43:00,0.0,2012-12-21 09:43:00
628,46761,46761,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2012-12-21,14:30:00,0.0,2012-12-21 14:30:00
629,46762,46762,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2012-12-21,19:15:00,0.0,2012-12-21 19:15:00
638,46841,46841,ACIDENTE,ANGRA DOS REIS,RJ,SDMC,2012-12-27,16:03:00,0.0,2012-12-27 16:03:00
642,46814,46814,INCIDENTE,BELO HORIZONTE,MG,SBBH,2012-12-29,15:10:00,0.0,2012-12-29 15:10:00

In [187]:
dfsudeste2012

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora,ocorrencia_horas
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3.0,2012-01-06 13:44:00,13.0
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0.0,2012-01-07 18:15:00,18.0
9,52244,52244,INCIDENTE,UBERLÂNDIA,MG,SBUL,2012-01-08,22:13:00,0.0,2012-01-08 22:13:00,22.0
20,52247,52247,INCIDENTE,BELO HORIZONTE,MG,SBPR,2012-01-18,13:10:00,0.0,2012-01-18 13:10:00,13.0
26,45410,45410,ACIDENTE,BRAGANÇA PAULISTA,SP,SDVH,2012-01-21,23:30:00,0.0,2012-01-21 23:30:00,23.0
...,...,...,...,...,...,...,...,...,...,...,...
626,46755,46755,INCIDENTE GRAVE,RIBEIRÃO PRETO,SP,SBRP,2012-12-21,9:43:00,0.0,2012-12-21 09:43:00,9.0
628,46761,46761,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2012-12-21,14:30:00,0.0,2012-12-21 14:30:00,14.0
629,46762,46762,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2012-12-21,19:15:00,0.0,2012-12-21 19:15:00,19.0
638,46841,46841,ACIDENTE,ANGRA DOS REIS,RJ,SDMC,2012-12-27,16:03:00,0.0,2012-12-27 16:03:00,16.0
642,46814,46814,INCIDENTE,BELO HORIZONTE,MG,SBBH,2012-12-29,15:10:00,0.0,2012-12-29 15:10:00,15.0

In [179]:
dfsudeste2012.to_csv('ocorrencias_sudeste_2012.csv', index=False, encoding='utf-8')
# .to_csv - método que exporta o objeto para o formato .csv
# "ocorrencias_sudesde_2012.csv" - nome do arquivo que será gerado
# encoding= 'utf-8' - encoding do arquivo a ser gerado

### Exportação dos Resultados de um Agrupamento:

#### Criação do Objeto do Agrupamento:

In [165]:
filtro = dfsudeste2012.total_recomendacoes > 0
agruprecm = dfsudeste2012.loc[filtro].groupby(['ocorrencia_cidade', dfsudeste2012.ocorrencia_dia.dt.month]).total_recomendacoes.sum().sort_values()

#### Exportação do Objeto do Agrupamento:

In [166]:
agruprecm.to_csv('recomendacoes_cidade_mes.csv', index=False)

### Exportar para o MySQL: